<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-3">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{/form}" class="btn btn-warning">ADD</a>
				</h4>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>NAME</th>
							<th>DRESS</th>
							<th>DATE</th>
							<th>ADD CAR</th>
							<th>UPDATE</th>
							<th>DELETE</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente: ${clientes}">
							<td><a class="btn btn-success btn-xs"
								th:href="@{/ver/} + ${cliente.id}" th:text="${cliente.id}"></a></td>
							<td th:text="${cliente.nombre}"></td>
							<td th:text="${cliente.direccion}"></td>
							<td th:text="${cliente.createAt}"></td>
							<td><a class="btn btn-success btn-sm"
								th:href="@{'/factura/form/' + ${cliente.id}}"
								th:text="'CREAR'"></a></td>
							<td><a class="btn btn-warning btn-sm"
								th:href="@{/form/} + ${cliente.id}" th:text="'UPDATE'"></a></td>
							<td><a class="btn btn-danger btn-sm"
								th:href="@{/eliminar/} + ${cliente.id}" th:text="'DELETE'"
								onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>

				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>